@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=DM+Serif+Display:ital@0;1&display=swap");
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
}

body {
 
  font-family: "DM Sans";
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #255538;
  padding: 5px 10px 30px;
  border-radius: 6px;
  grid-area: header;
}


header nav ul {
  display: flex;
  margin: 0;
  list-style: none;
}

header nav ul li a {
  text-decoration: none;
  color: white;
}

.sapo {
 
  margin-top: 20px;
  margin-left: 30px;
  margin-right: 30px;
  padding: 130px 70px;
  background-image: url("../img/hero\ \(1\).jpg");
  background-position: center center;
  border-radius: 30px;
}
.plato {
  display: flex;
  align-items: center;
  flex-direction: center;
  margin-top: 20px;
  width: 700px;
  height: 300px;
  margin: 10px;
  margin-left: 30px;
  margin-right: 30px;
  border-radius: 10px;

  background-image: url("../img/estofado.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

#grid {
  max-width: auto;
  height: 1vh;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 30px  ;
  
  grid-template-areas:
    "header header "
    ;
}
#main3 {
  max-width: auto;
  height: 150vh;
  margin-left: 10px;
  margin-right: 30px;
  display: grid;
  grid-template-rows: 1fr 1fr  ;
  grid-template-columns: 1fr 1fr 1fr  ;
  grid-template-areas: 
  "main main main";
}
#grid2 {

  max-width: auto;
  height: 10vh;
  
  display: grid;
  
  grid-template-rows: 1fr ;
  
  grid-template-areas:
    "footer footer "
    ;
}



#container-grid {
  max-width: auto;
  height: 100vh;
  margin: 0 auto;
  
  margin-right: 30px;
  display: grid;
  grid-template-rows: 40px 1fr 40px;
  grid-template-columns: auto 300px;
  grid-template-areas:
    "header header "
    "main  aside"
    "footer footer ";
}

.sapo h1 {
  color: #ece5e5;
  text-align: center;
}
.sapo2 {
 
  background-image: url("");
  margin-top: 20px;
  width: 100px;
  height: 90px;
  margin: 10px;
}
.sapo4 {
 
  background-image: url("");
  margin: 20px;
  margin-left: 20px;
  width: 250px;
  height: 200px;
  border-radius: 20px;
  border: 1px solid #000;
 
}
#sapo44 {
  margin-left: 30px;
  margin-right: 30px;
}
#sapo46 {
  margin-left: 30px;
  margin-right: 30px;
 
}
.sapo3 {
  display: flex;
  flex-direction: row;
  padding: 20px;
}
@media screen and (max-width: 600px) {
  .sapo {
    display: none;
  }

  main{
    flex-direction: column;
  }

  table td tr:nth-of-type(2) {
    text-align: right;
  }
}
@media screen and (max-width:){

}
h1 {
  color: #7e4333;
  
  padding: 10px;
  font-family: "DM Serif Display"
}
#sapo23 {
  color: #7e4333;
  padding: 10px;
  font-family: "DM Serif Display"
}
h2 {
  color: #7e4333;
  margin: 0;
  padding: 10px;
  font-family: "DM Serif Display"
}
h3 {
  font-family: "DM Serif Display";
}

h2,
h3 {
  color: #7e4333;
  margin: 0;
  padding: 30px;

}
h4 {
  color: #7e4333;
  margin: 0;
  padding: 10px;
  font-family: "DM Serif Display"
}


main {
  max-width: 1000px;
  margin: 0 auto;
  grid-area: main;
}

article {
  border-radius: 6px;
  background-color: white;
  padding: 20px;
  margin-bottom: 20px;
}

table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

td {
  padding: 10px 0;
  border-bottom: 1px solid #7e4333;
}

nav#menu-recetas {
  display: flex;
  justify-content: center;
}

nav#menu-recetas ul {
  display: flex;
  list-style: none;
  gap: 10px;
  padding: 0;
  margin: 25px 0;
}

nav#menu-recetas ul li a {
  background-color: #255538;
  color: white;
  text-decoration: none;
  padding: 8px 14px;
  border-radius: 100px;
}
#trece  {
  padding: 10px;
}
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #255538;
  padding: 20px 20px 18px;
  color: white;
  border-radius: 6px;
  grid-area: footer;
}
